.table {
    border-collapse: collapse;
}

.td, .th {
    padding: 3px;
    border: 1px solid rgba(30, 66, 84, 0.97);
}

.th {
    background: #38b3cd; /* Цвет фона */
}

.body.div {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #38b3cd;
    color: #616161;
}
